* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

header {
    width: 100%;
    height: 10vh;
    background: rgb(148, 207, 148);

    /* border: 2px black solid; */
}

footer {
    width: 100%;
    height: 30vh;
    background: rgb(44, 192, 76);

    /* border: 2px black solid; */
}

main {
    width: 100%;
    height: 450vh;
    justify-content: center;
    background: rgb(148, 207, 148);

    /* border: 3px black solid; */
}

section {
    width: 90%;
    height: 80vh;
    background: rgb(148, 207, 148);
    margin: auto;
    display: flex;
    justify-content: space-around;

    /* border: 3px black solid; */
}
/***************************************************LINES CONTENT****************************************************/
hr {
    width: 50%;
}

.lines {
    width: 20%;
    height: 20px;
    position: relative;
    margin: 0 0 0 40%;
}
.about_info{
    display: flex;
}
.lines::after,
.lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: purple;
    width: 40%;
    top: 40%;
}

.lines::after {
    left: 0;
}

.lines::before {
    right: 0;
}

.circle {
    height: 15px;
    width: 15px;
    border: 2px solid purple;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

/***************************************************END LINES CONTENT****************************************************/

/*.................................................NAVIGATION SECTION...................................................*/

nav.sticky {
    padding: 1rem 6.2rem;
    background: rgb(44, 192, 76);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1.2rem 6.2rem;
    z-index: 10000;

}

#nav_name {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.12rem;
    background: linear-gradient(120deg, red 20.69%, blue 50.19%, brown 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px 200px 0px 20px;
}

nav a {
    color: #1d1d24;
    font-weight: 600;
    text-decoration: none;
    position: relative;

}

.active {
    padding: 0.18rem 0 0 0;
    border-bottom: 4px solid darkgreen;

}

nav a.active,
nav a:hover {
    color: darkgreen;
}

nav a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0.25rem;
    background: darkgreen;
    transition: .3s;
    bottom: -0.25rem;
}

nav a:hover:after {
    width: 100%;
}
.hamburger{
    display: none;
}
/*.................................................END NAVIGATION SECTION...................................................*/

/***************************************************END MAIN CONTENT****************************************************/

/*.....................................................HOME SECTION...................................................*/
marquee {
    color: red;
}
.home_left_section {
    width: 40%;
    height: 90%;
    padding: 6rem 2rem 0 1rem;

    /* border: 3px blue solid;
    background: yellow; */
}
.home_right_section {
    width: 40%;
    height: 90%;
    margin: 1rem 0 0 0;
    background-size: cover;
    background-image: url(imgs/ali.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: 6px red solid;
    border-radius: 90%;


    /* border: 4px red solid;
    background: lime; */
}
.title {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: inline-block;
    margin-bottom: 0.25rem;
    background: linear-gradient(120deg, red 20.69%, blue 50.19%, brown 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_left_section h1 {
    color: #1f1f25;
    font-size: 2rem;
    /* font-weight: 900; */
    line-height: 5.5rem;
    text-transform: inherit;
}

.home_left_section h1 span {
    color: green;
    font-size: 3.5rem;
}

.home_left_section p {
    width: 95%;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.btn {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1rem 2.5rem;
    border-radius: 31rem;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: green;
    border: 0.15rem solid green;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    border-color: green;
    color: green;
}
/*.....................................................END HOME SECTION...................................................*/

/*.....................................................ABOUT SECTION...................................................*/
.about_left_section {
    width: 40%;
    height: 90%;
    border-radius: 5%;
    margin: 1rem 0 0 0;
    background-size: cover;
    background-image: url(imgs/mahi.jpg);
    background-repeat: no-repeat;
    background-position: center;

    /* border: 3px white solid;
    background: brown; */
}

.about_right_section {
    width: 40%;
    height: 90%;
    padding: 3rem 2rem 0 2rem;
    font-size: 1.2rem;
    font-weight: 500;

    /* border: 3px red solid;
    background: wheat; */
}
/*.....................................................END ABOUT SECTION...................................................*/

.skills_container {
    width: 40%;
    height: 90%;
    border-radius: 5%;
    list-style: none;
    margin: 1rem;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    background: rgb(148, 207, 148);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);

    /* border: 3px white solid; */
    /* background: mediumslateblue; */
}

h2 {
    text-align: center;
}

h3 {
    margin: 0.31rem;
}

.skills li {
    margin: 1.25rem 0;
    padding: 0.62rem;
}

.bar {
    background: #353b48;
    display: block;
    height: 1.25rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1)100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 95%;
    animation: css 3s;
}

.javascript {
    width: 85%;
    animation: javascript 3s;
}

.python {
    width: 90%;
    animation: python 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/*******************************Projects Section****************************************************/
/* .project_container {
    width: 80%;
    height: 90%;
    border: 3px brown solid;
    background: gainsboro;
    margin: auto;
} */
#Portfolio_container {
    margin: auto;
    padding: 1.2rem;
    height: 500px;
    width: 80%;
    color: #ccc;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.box {
    color: green;
    border: green solid 3px;
    width: 300px;
    height: 200px;
}
.box:hover {
    background: transparent;
    border: #ccc solid 3px;
    color: #ccc;
    background: #f4f4f4;
}
/*******************************End Projects Section****************************************************/

/*******************************Contact Section****************************************************/
.contact_container{
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 50px 50px;
    margin: auto;
    width: 75%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    min-height: 40vh;

    /* border: 3px brown solid;
    background: gainsboro; */
}
.f_input {
    width: 100%;
    padding: 0.4rem;
    margin: 0 0 10px;
    background-color: rgb(172, 230, 172);
    border: 2px solid green;
    border-radius: 10px;
    font-size: 20px;
}

/*******************************End Conatct Section****************************************************/

/*.................................................FOOTER SECTION...................................................*/
.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: rgb(68, 199, 96);
    opacity: 0.9;
}

/* Hover effect on Social Media icons */
.socialIcons a:hover {
    background-color: rgb(68, 199, 96);
    transition: 0.5s;
}

.socialIcons a i:hover {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul a:hover {
    opacity: 2;
}

.footerBottom {
    background-color: green;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;

}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* @media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
} */
/*...............................................END FOOTER SECTION...................................................*/